{{> head bodyClass='page-blog-post'}}

{{> navbar}}

<main class="main">
  <div class="container">
    <article class="blog-post">
      <header class="blog-post__header">
        {{#if tags.[0]}}
        <span class="blog-post__category">{{tags.[0]}}</span>
        {{/if}}
        <h1 class="blog-post__title">{{title}}</h1>
        <div class="blog-post__meta">
          <div class="blog-post__author">
            <img src="https://ui-avatars.com/api/?name={{author}}&background=6366f1&color=fff" alt="{{author}}" class="blog-post__author-avatar">
            <span>{{author}}</span>
          </div>
          <span class="blog-post__divider"></span>
          <span>{{formatDate date=publicationDate format="dd mmmm yyyy"}}</span>
          <span class="blog-post__divider"></span>
          <span>5 min read</span>
        </div>
      </header>

      {{#if coverImage}}
      <img src="{{coverImage}}" alt="{{title}}" class="blog-post__featured-image">
      {{/if}}

      <div class="blog-post__content">
        {{{content}}}
      </div>

      <footer class="blog-post__footer">
        <div class="blog-post__tags">
          {{#each tags}}
          <span class="blog-post__tag">#{{this}}</span>
          {{/each}}
        </div>
        <div class="blog-post__share">
          <button class="blog-post__share-btn" onclick="sharePost('twitter')" aria-label="Share on Twitter">
            <svg viewBox="0 0 24 24" fill="currentColor"><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/></svg>
          </button>
          <button class="blog-post__share-btn" onclick="sharePost('linkedin')" aria-label="Share on LinkedIn">
            <svg viewBox="0 0 24 24" fill="currentColor"><path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/></svg>
          </button>
          <button class="blog-post__share-btn" onclick="copyLink()" aria-label="Copy link">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/></svg>
          </button>
        </div>
      </footer>

      <nav class="blog-post__nav">
        <a href="{{relativePath 'blog.html'}}" class="blog-post__nav-link">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M19 12H5M12 19l-7-7 7-7"/></svg>
          Back to all articles
        </a>
      </nav>
    </article>
  </div>
</main>

{{> footer}}
